@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.navbar {
  display: block;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 5px 5px gray;
  box-sizing: border-box;
  text-wrap: nowrap;
}
.navbar__container {
  display: inline-block;
  text-align: right;
  width: 100%;
}
.navbar__logo {
  position: absolute;
  top: 0.9em;
  left: 0;
  color: rgb(8, 166, 228);
  font-size: 2rem;
  padding-left: 0.5em;
  line-height: 0.5em;
}
.navbar__menu {
  display: inline-block;
  padding: 0.4em 0.5em 0 0;
  border: none;
  background-color: white;
  font-size: 35px;
  color: rgb(8, 166, 228);
}
.navbar__list__item {
  display: none;
}
.landing {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 7em;
  overflow: hidden;
  font-family: "Open Sans";
}
.landing__title {
  font: normal normal 400 2rem "Raleway";
}
@media only screen and (min-width: 750px) {
  .landing__title {
    font-size: 50px;
  }
}
.landing__text {
  margin: 1em 5em 0 5em;
  font-weight: 400;
  font-size: 15px;
}
.landing__button {
  font-family: "Open Sans";
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  padding: 1.5em 6.5em 1.5em 6.5em;
  border-radius: 1cm;
  background-color: rgb(8, 166, 228);
  box-shadow: 2px 8px 15px rgb(46, 199, 255);
}
.landing__image {
  margin-top: 20px;
  max-width: 100%;
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media only screen and (min-width: 750px) {
  .landing__image {
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
}

.stats {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.stats__text {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0.5em 2em 2em 2em;
}
.stats__list {
  margin-top: 0.5em;
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 1000px) {
  .stats__list {
    display: flex;
    justify-content: space-around;
    flex: 0 0 300px;
    gap: 20px;
  }
}
.stats__list__item {
  margin: 1.5em 2em;
  line-height: 2em;
}
@media only screen and (min-width: 1000px) {
  .stats__list__item {
    flex: 0 0 300px;
    display: block;
  }
}
.stats__list__item__ellipse {
  z-index: -1;
}
.stats__list__item__ellipse--red {
  transform: translateX(1.3em);
}
.stats__list__item__ellipse--blue {
  transform: translateX(2em);
}
.stats__list__item__ellipse--green {
  transform: translateX(1.8em);
}
.stats__list__item__number {
  letter-spacing: 0.3em;
  font-size: 1.2rem;
  font-weight: 900;
}
.stats__list__item__text {
  margin: 1em 6em;
  font-size: 1rem;
  font-weight: 200;
}
.stats__list__item__element {
  translate: -0.9em -0.4em;
}
.stats__list__item__eye {
  translate: -0.9em -0.8em;
}
.stats__list__item__catalog {
  translate: -0.5em -0.4em;
}

.taglines {
  font-family: "Raleway";
  padding: 1.2em 1.8em;
  min-height: 400px;
  background-color: rgb(247, 247, 247);
}
.taglines__list {
  padding: 0;
  list-style: none;
}
.taglines__list__item {
  border-radius: 3px;
  border: 1px solid rgb(234, 235, 238);
  margin: 2em 0.35em;
  padding: 1em 1.4em;
  background-color: white;
}
.taglines__list__item__title {
  font-size: 1.6rem;
  margin: 1em 0;
  font-weight: 400;
}
.taglines__list__item__text {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: left;
  text-wrap: wrap;
}
.taglines__list__item__text--third {
  font-size: 0.9rem;
  font-weight: 500;
}
.taglines__list__item__first {
  position: relative;
}
.taglines__list__item__first__laptop {
  padding-top: 3%;
  width: 65%;
  height: auto;
  transform: translate(-15%, 5%);
}
.taglines__list__item__first__ellipse {
  width: 25%;
  height: auto;
  transform: translate(220%, -65%);
  z-index: -1;
}
.taglines__list__item__second {
  position: relative;
}
.taglines__list__item__second__phone {
  padding-top: 3%;
  width: 55%;
  height: auto;
  transform: translate(-20%, 10%);
}
.taglines__list__item__second__ellipse {
  width: 40%;
  height: auto;
  transform: translate(70%, -15%);
  z-index: -1;
}
.taglines__list__item__third__title {
  margin: 0.3em 2em 1em 0;
  font-size: 1.8rem;
  font-weight: 400;
}
.taglines__box {
  display: block;
  position: relative;
  background-color: rgb(85, 223, 180);
  border-radius: 0.2em;
  margin: -2em 0.3em 1.5em 0.3em;
  height: 10%;
}
.taglines__box__trumpet {
  display: block;
  position: relative;
  width: 90%;
  height: 110%;
  transform: translate(0%, 12%);
}

.pricing {
  font-family: "Raleway";
  box-sizing: border-box;
  position: relative;
  text-align: center;
  list-style: none;
  width: 100%;
}
.pricing__title {
  padding: 2.5em 0 0.1em 0;
  font-size: 35px;
  font-weight: 400;
  font-family: "Raleway";
  color: black;
}
.pricing__boxes {
  margin: 1.8em 1.5em 4em 1.8em;
  padding: 0;
  text-align: center;
}
.pricing__boxes__first {
  border: 2px solid rgb(235, 71, 110);
  border-radius: 15px;
  margin: 3em 0.5em;
}
.pricing__boxes__second {
  border: 2px solid rgb(7, 172, 230);
  border-radius: 15px;
  margin: 3em 0.5em;
}
.pricing__boxes__third {
  border: 2px solid rgb(85, 223, 180);
  border-radius: 15px;
  margin: 3em 0.5em;
}
.pricing .pricing__boxes__button--first {
  transform: translateY(2em);
  padding: 1.5em 4em;
  border: none;
  color: white;
  border-radius: 2em;
  font-weight: 700;
  background-color: rgb(235, 71, 110);
}
.pricing .pricing__boxes__button--second {
  transform: translateY(2em);
  padding: 1.5em 4em;
  border: none;
  color: white;
  border-radius: 2em;
  font-weight: 700;
  background-color: rgb(7, 172, 230);
}
.pricing .pricing__boxes__button--third {
  transform: translateY(2em);
  padding: 1.5em 4em;
  border: none;
  color: white;
  border-radius: 2em;
  font-weight: 700;
  background-color: rgb(85, 223, 180);
}
.pricing__box {
  display: inline-block;
  position: relative;
  width: 48%;
  vertical-align: top;
  list-style: none;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}
@media (min-width: 601px) {
  .pricing__box {
    width: 100%;
  }
}
.pricing__box__plan {
  font-size: 20px;
  font-weight: 700;
  margin: 50% 0.5em -2em 15%;
}
@media (min-width: 601px) {
  .pricing__box__plan {
    margin: 5% 0 1em 0;
    padding: 0;
  }
}
.pricing__box__price {
  margin: 0.7em 0.3em 0 15%;
  font-size: 3rem;
  font-weight: 300;
  font-family: "Open Sans";
}
.pricing__box__price__first {
  color: rgb(235, 71, 110);
}
.pricing__box__price__second {
  color: rgb(7, 172, 230);
}
.pricing__box__price__third {
  color: rgb(85, 223, 180);
}
@media (min-width: 601px) {
  .pricing__box__price {
    margin: 0;
    padding: 0;
  }
}
.pricing__box__offer {
  margin: 0 1em 25% 15%;
  font-size: 0.7rem;
  font-weight: 700;
}
@media (min-width: 601px) {
  .pricing__box__offer {
    margin: 0 0 5em 0;
    padding: 0;
  }
}
.pricing__box--right {
  font-family: "Open Sans";
  font-size: 14px;
  padding: 1.2em 0.5em 0.3em 1em;
  margin: 25% 0 25% 0;
  text-align: left;
  line-height: 2.5em;
}
@media (min-width: 601px) {
  .pricing__box--right {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
.pricing__box--left {
  vertical-align: middle;
  margin: 40% 0 40% 0;
}
@media (min-width: 601px) {
  .pricing__box--left {
    margin: 0;
    padding: 0;
  }
}
.pricing__box__tick {
  color: rgb(85, 223, 180);
}
.pricing__box__cross {
  color: rgb(235, 71, 110);
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  background-color: #f1f1f1;
  padding: 15px 0px 20px 0px;
  box-shadow: 0px 0px 5px 5px gray;
}
.footer__text {
  position: absolute;
  left: 0;
  font-size: 1.6em;
  padding-left: 15px;
  margin-bottom: -15px;
  line-height: 15px;
}
.footer__text__name {
  margin: 0.4em 0 0 0;
  color: rgb(8, 166, 228);
}
.footer__text__copyright {
  margin: 0.6em 0 0 0;
  font-size: 0.45em;
  color: gray;
}
.footer__images {
  display: absolute;
  margin: 1em 0.5em 0 0px;
  text-align: right;
}
.footer__images--facebook {
  padding: 0 0.7em;
}

.contact {
  box-sizing: border-box;
  width: 100%;
}
.contact__title {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 0 0.1em 0.8em;
}
.contact__subtitle {
  font-family: "Open Sans";
  font-size: 0.95rem;
  font-weight: 500;
  margin: 0 0 0.3em 2em;
}
.contact__info {
  display: inline-block;
  vertical-align: baseline;
  margin: 1em 1em 0.5em 2em;
}
.contact__info__mail {
  padding: 0 0 0 0;
}
.contact__info__phone {
  padding: 0 0 0 0;
}
.contact__info__text {
  display: inline-block;
  color: #A5A5A5;
  font-family: "Open Sans";
  font-size: 1em;
  margin: 1em 0 0 0.5em;
  transform: translateY(-0.3em);
}
.contact__info__input {
  margin: 1em 2em;
  border: none;
  border-bottom: 2px lightgray solid;
  color: rgb(8, 166, 228);
  line-height: 4.5em;
  letter-spacing: 0.3em;
  width: 80%;
}
.contact__info__input::-webkit-input-placeholder {
  color: rgb(8, 166, 228);
  font-size: 0.8em;
}
.contact__checkbox[type=checkbox] {
  display: inline-block;
  position: relative;
  margin: 1em 0 0 2em;
  background-color: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 0.3em;
  outline: none;
  cursor: pointer;
}
.contact__checkbox[type=checkbox]:checked {
  border-color: gray;
}
.contact__checkbox[type=checkbox]:checked::after {
  content: "✓";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(8, 166, 228);
  font-size: 1.5em;
}
.contact__checkbox__text {
  color: #707070;
  font-family: "Open Sans";
  font-size: 12px;
  display: inline-block;
  margin: -3em 2em 3em 6em;
}
.contact__container {
  text-align: right;
}
.contact__button {
  font-family: "Open Sans";
  text-align: right;
  border: none;
  color: white;
  font-weight: bold;
  padding: 1.5em 6.5em 1.5em 6.5em;
  margin: 0 8% 3.5em 0;
  border-radius: 1cm;
  background-color: rgb(8, 166, 228);
  box-shadow: 2px 8px 15px rgb(106, 215, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  height: 100%;
  font-family: "Raleway";
}/*# sourceMappingURL=style.css.map */