
.footer {
    position: relative; 
    bottom: 0;
    left: 0;
    display: inline-block; 
    width: 100%; 
    vertical-align: bottom; 
    background-color: #f1f1f1;
    padding: 15px 0px 20px 0px;

    box-shadow: 0px 0px 5px 5px gray;
    &__text {
        position: absolute;
        left:0;
        font-size: 1.6em;
        padding-left:15px;
        margin-bottom: -15px;
        line-height: 15px;

        &__name {
            margin: 0.4em 0 0 0;
            color: rgb(8, 166, 228);
        }
        &__copyright {
            margin: 0.6em 0 0 0;
            font-size: 0.45em;
            color: gray;
        }
    }
    &__images {
        display: absolute;
        margin: 1em 0.5em 0 0px;
        text-align: right;

        &--facebook {
            padding: 0 0.7em;
        }
    }
}