
.navbar {
    display: block;
    height: 60px;
    box-shadow: 0 5px 5px lightgray;
    text-wrap: nowrap;
    @media only screen and (min-width: 1000px) {
        display: flex;
        width:100%;
    }  

    &__container {
        text-align: right;
        width: 100%;
    }
    &__logo {
        position: absolute;
        top: 0.9em;
        color: rgb(8, 166, 228);
        font-size: 2rem; 
        padding-left: 0.5em;
        line-height: 0.5em;
        @media only screen and (min-width: 1000px) {
            padding-left: 10%;
        }
    }
    &__menu {
        cursor: pointer;
        padding: 0.1em 0.5em 0 0;
        border: none;
        background-color: white;
        font-size: 2em;
        color: rgb(8, 166, 228);
        transition: opacity 1s;
        @media only screen and (min-width: 1000px) {
            display: none;
        }
    }
    &__list{
        &.visible {
            @media only screen and (max-width: 1000px) {
                display: flex;
                flex-direction: column;
                margin-top: 45px;
                font-family: 'Open Sans';
                position: sticky;
                font-weight: 900;
                font-size: 0.7em;
                letter-spacing: 0.2em;
                line-height: 3em;
                border: none;
                box-shadow: 0 5px 5px lightgray;
                background-color: white;
                transform: translate(0em, -2em);
                z-index: 1;
            }
        }
        display: none;
        
        @media only screen and (min-width: 1000px) {
            font-family: 'Open Sans';
            letter-spacing: 0.2em;
            font-weight: 700;
            line-height: 1.4em;
            border: none;
            margin: 0 4% 0 50%;
            display: flex;
            justify-content: space-around;
        }  
    &__item {
            cursor: pointer;
            display:flex;
            color: lightgray;
            background-color: white;
            padding: 1em 0 1em 2em;
            &:hover {
                color: black;
            }
        @media only screen and (min-width: 1000px) {
            font-weight: 900;
            font-size: 0.7em;
            padding: 1.6em 2em;
            display: flex;
            color: lightgray;
            background-color: white;
            height: 100%;
            &:hover {
                color: black;
                border-bottom: 3px solid rgb(8, 166, 228);
            }
        } 
      }   
    }
}
.landing {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 7em;
    overflow: hidden;
    font-family: 'Open Sans';
    z-index: 1;


    &__title {
        font: normal normal 400 2rem 'Raleway';
        @media only screen and (min-width: 750px) {
            font-size: 50px;
        }
    }
    &__text {
        margin: 1em 5em 0 5em;
        font-weight: 400;
        font-size: 15px;
    }
    &__button {
        font-family: 'Open Sans';
        border: none;
        color: white;
        font-weight: bold;
        margin-top: 20px;
        padding: 1.5em 6.5em 1.5em 6.5em;
        border-radius: 1cm;
        background-color: rgb(8, 166, 228);
        box-shadow: 2px 8px 15px rgb(139 224 255);
        transition: scale 1s ease-in-out;
        @media only screen and (min-width: 750px) {
            margin-top: 35px;
            padding: 1.5em 10.5em 1.5em 10.5em;
        }
        &:hover {
            scale: 1.1;
            cursor: pointer;
        }
    }
    &__image {
        margin-top: 20px;
        max-width: 100%;
        height: 270px;
        object-fit: cover;
        object-position: center ;
        @media only screen and (min-width: 750px) {
            margin-top: 20px;
            width: 100%;
            height: 100%;
        }
    }
}
.scroll__bar {
    z-index: 3;
    position: sticky;
    top: 70px;
    width: 0%;
    height: 8px;
    background: transparent;
    &__progress {
        height: 10px;
        background: radial-gradient(circle, rgba(8,166,228,1) 0%, rgba(139,224,255,1) 100%);
    }
}