
.navbar {
    display: block;
    margin:0;
    top:0;
    left:0;
    width:100%;
    height: 70px;
    box-shadow: 0 5px 5px lightgray;
    box-sizing: border-box;
    text-wrap: nowrap;
    @media only screen and (min-width: 1000px) {
        display: flex;
        width:100%;
    }  

    &__container {
        display: inline-block;
        text-align: right;
        width: 100%;
    }
    &__logo {
        position: absolute;
        top: 0.9em;
        left:0;
        color: rgb(8, 166, 228);
        font-size: 2rem; 
        padding-left: 0.5em;
        line-height: 0.5em;
        @media only screen and (min-width: 1000px) {
            padding-left: 10%;
        }
    }
    &__menu {
        display: inline-block;
        padding: 0.4em 0.5em 0 0;
        border: none;
        background-color: white;
        font-size: 35px;
        color: rgb(8, 166, 228);
        @media only screen and (min-width: 1000px) {
            display: none;
        }
    }
    &__list{
        font-family: 'Open Sans';
        font-weight: 900;
        font-size: 0.7em;
        letter-spacing: 0.2em;
        @media only screen and (min-width: 1000px) {
            margin: 0 5% 0 45%;
            display: flex;
            height: 100%;
            justify-content: space-around;
            align-items: center;
        }  
    &__item {
        display: none;
        @media only screen and (min-width: 1000px) {
            padding:30px 2em;
            display: flex;
            color: lightgray;
            height: 100%;
            &:hover {
                color: black;
                border-bottom: 3px solid rgb(8, 166, 228);
            }
        } 
      }   
    }
}
.landing {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 7em;
    overflow: hidden;
    font-family: 'Open Sans';

    &__title {
        font: normal normal 400 2rem 'Raleway';
        @media only screen and (min-width: 750px) {
            font-size: 50px;
        }
    }
    &__text {
        margin: 1em 5em 0 5em;
        font-weight: 400;
        font-size: 15px;
    }
    &__button {
        font-family: 'Open Sans';
        border: none;
        color: white;
        font-weight: bold;
        margin-top: 20px;
        padding: 1.5em 6.5em 1.5em 6.5em;
        border-radius: 1cm;
        background-color: rgb(8, 166, 228);
        box-shadow: 2px 8px 15px rgb(46, 199, 255);
    }
    &__image {
        margin-top: 20px;
        max-width: 100%;
        width: 100%;
        height: 270px;
        object-fit: cover;
        object-position: center ;
        @media only screen and (min-width: 750px) {
            margin-top: 20px;
            width: 100%;
            height: 100%;
        }
    }
}