
.pricing {
    font-family: 'Raleway';
    box-sizing: border-box;
    position: relative;
    text-align: center;
    font-size: 0;
    width: 100%;
    
    &__title {
        padding: 20px 0 20px 0;
        font-size: 30px;
        font-weight: 400;
        font-family: 'Raleway';
        color: black;
    }

    &__boxes {
        margin: 20px 50px 0px 50px;
        padding: 0;
        text-align: center;

        &__first {
            border: 2px solid rgb(235, 71, 110);
            border-radius: 15px;
        }
        &__second {
            border: 2px solid rgb(7, 172, 230);
            border-radius: 15px;
        }
        &__button {
            margin: -18px 0px 20px 0px;
            padding: 10px 40px;
            border: none;
            color: white;

            &__first {
                background-color: rgb(235, 71, 110);
                border-radius: 18px;

            }
            &__second {
                background-color: rgb(7, 172, 230);
                border-radius: 18px;
            }
        }
    }

    &__box {
        display: inline-block;
        position: relative;
        width: 48%;
        vertical-align: top;
        list-style: none; 
        padding: 0;
        font-size: 16px; 
        box-sizing: border-box;

        @media (min-width: 601px) {
            width: 100%;
        }

            &__plan {
                font-size: 20px;
                font-weight: 700;
                margin: 38% 0px -40px 15%;
                @media (min-width: 601px) {
                    margin: 5% 0 20px 0;
                }
            }

            &__price {
                margin: 35px 0px 38% 15%;
                font-size: 46px;
                font-family: 'Open Sans';
                &__first {
                    color: rgb(235, 71, 110);
                }
                &__second {
                    color: rgb(7, 172, 230);
                }
                @media (min-width: 601px) {
                    margin: 0;
                }
            }

            &--right {
                font-family: 'Open Sans';
                font-size: 14px;
                padding: 15px 10px 25px 15px;
                text-align: left;
                line-height: 2.5em;
                @media (min-width: 601px) {
                    text-align: center;
                    margin: 0;
                }
            }

            &--left {
                vertical-align: middle;
            }

            &__tick {
                color: rgb(85, 223, 180);
            }
            &__cross {
                color: rgb(235, 71, 110);
            }
    }
}