
.pricing {
    font-family: 'Raleway';
    text-align: center;
    
    &__title {
        padding: 2em 0 0.1em 0;
        font-size: 2rem;
        font-weight: 400;
        font-family: 'Raleway';
    }

    &__boxes {
        
        @media only screen and (min-width: 800px) {
            margin: 0 12% 0 12%;
            display: flex;
            justify-content: space-evenly
        }

        &__first {
            border: 1px solid rgb(235, 71, 110);
            border-radius: 15px;
            margin: 3em 1.5em;
            transition: 0.3s;
            flex-basis: 22em;
            @media only screen and (min-width: 800px) {
            &:hover {
                transform: scale(1.1);
                box-shadow: 0px 0px 20px 1px rgb(214, 105, 131);
                    .pricing__boxes__button--first {
                        transition: 0.3s;
                        box-shadow: 0px 5px 25px 5px rgb(214, 105, 131);
                    }
                }
            }
        }

        &__second {
            border: 1px solid rgb(7, 172, 230);
            border-radius: 15px;
            margin: 3em 1.5em;
            transition: 0.3s;
            flex-basis: 22em;
            @media only screen and (min-width: 800px) {
            &:hover {
                transform: scale(1.1);
                box-shadow: 0px 0px 20px 1px rgb(105, 194, 226);
                    .pricing__boxes__button--second {
                        transition: 0.3s;
                        box-shadow: 0px 5px 25px 5px rgb(105, 194, 226);
                    }
                }
            }
        }
        &__third {
            border: 1px solid rgb(85, 223, 180);
            border-radius: 15px;
            margin: 3em 1.5em;
            transition: 0.3s;
            flex-basis: 22em;
            @media only screen and (min-width: 800px) {
            &:hover {
                transform: scale(1.1);
                box-shadow: 0px 0px 20px 1px rgb(129, 212, 186);
                    .pricing__boxes__button--third {
                        transition: 0.3s;
                        box-shadow: 0px 5px 25px 5px rgb(129, 212, 186);
                    }
                }
            }
        }
        
    }

    @mixin pricing-button {
        transform: translateY(2em);
        padding: 1.5em 4em;
        border: none;
        color: white;
        border-radius: 2em;
        font-weight: 700
    }

    .pricing__boxes__button--first {
        @include pricing-button;
        background-color: rgb(235, 71, 110);
        @media only screen and (min-width: 800px) {
            transform: translateY(3em);
        }
    }
    
    .pricing__boxes__button--second {
        @include pricing-button;
        background-color: rgb(7, 172, 230);
    }
    .pricing__boxes__button--third {
        @include pricing-button;
        background-color: rgb(85, 223, 180);
    }

    &__box {
        display: inline-block;
        position: relative;
        width: 48%;
        vertical-align: top;
        list-style: none; 
        font-size: 16px; 
        box-sizing: border-box;

        @media (min-width: 601px) {
            width: 100%;
            
        }  
        

        &__plan {
                font-size: 20px;
                font-weight: 700;
                margin: 3em auto 0 auto;
                @media (min-width: 601px) {
                    margin: 15% 0 auto 0;
                    padding: 0;
                }
            }

        &__price {
                font-size: 3rem;
                font-weight: 300;
                font-family: 'Open Sans';
                &__first {
                    color: rgb(235, 71, 110);
                }
                &__second {
                    color: rgb(7, 172, 230);
                }
                &__third {
                    color:rgb(85, 223, 180);
                }
                @media (min-width: 601px) {
                    padding: 0;
                }
            }
        &__offer {
            font-size: 0.7rem;
            font-weight: 700;
        }

        &--right {
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 14px;
                padding: 2em 0 0 1em;
                text-align: left;
                line-height: 2.5em;
                @media (min-width: 601px) {
                    text-align: center;
                    margin: 5% 0 5% 0;
                    padding: 0;
                    &--first {
                        margin: 10% 0 0;
                    }
                }
                
            }

        &--left {
                vertical-align: middle;
                @media (min-width: 601px) {
                    margin: 0;
                    padding: 0;
                }
            }

        &__tick {
                color: rgb(85, 223, 180);
                margin-right: 5px;
            }
        &__cross {
                color: rgb(235, 71, 110);
            }
    }
}