
.pricing {
    font-family: 'Raleway';
    box-sizing: border-box;
    position: relative;
    text-align: center;
    list-style: none;
    width: 100%;
    
    &__title {
        padding: 2.5em 0 0.1em 0;
        font-size: 2rem;
        font-weight: 400;
        font-family: 'Raleway';
        color: black;
    }

    &__boxes {
        margin: 1.8em 1.5em 4em 1.8em;
        padding: 0;
        text-align: center;

        &__first {
            border: 2px solid rgb(235, 71, 110);
            border-radius: 15px;
            margin: 4em 1.5em;
            transition: 0.3s;
            &:hover {
                margin: 5em 1em;
                padding: 1em 0 0 0;
                box-shadow: 0px 0px 20px 1px rgb(214, 105, 131);
                .pricing__boxes__button--first {
                    transition: 0.3s;
                    box-shadow: 0px 5px 25px 5px rgb(214, 105, 131);
                    z-index: -1;
                }
            }
        }

        &__second {
            border: 2px solid rgb(7, 172, 230);
            border-radius: 15px;
            margin: 4em 1.5em;
            transition: 0.3s;
            &:hover {
                margin: 5em 1em;
                padding: 1em 0 0 0;
                box-shadow: 0px 0px 20px 1px rgb(105, 194, 226);
                .pricing__boxes__button--second {
                    transition: 0.3s;
                    box-shadow: 0px 5px 25px 5px rgb(105, 194, 226);
                }
            }
        }
        &__third {
            border: 2px solid rgb(85, 223, 180);
            border-radius: 15px;
            margin: 4em 1.5em;
            transition: 0.3s;
            &:hover {
                margin: 5em 1em;
                padding: 1em 0 0 0;
                box-shadow: 0px 0px 20px 1px rgb(129, 212, 186);
                .pricing__boxes__button--third {
                    transition: 0.3s;
                    box-shadow: 0px 5px 25px 5px rgb(129, 212, 186);
                }
            }
        }
        
    }

    @mixin pricing-button {
        transform: translateY(2em);
        padding: 1.5em 4em;
        border: none;
        color: white;
        border-radius: 2em;
        font-weight: 700
    }

    .pricing__boxes__button--first {
        @include pricing-button;
        background-color: rgb(235, 71, 110);
    }
    
    .pricing__boxes__button--second {
        @include pricing-button;
        background-color: rgb(7, 172, 230);
    }
    .pricing__boxes__button--third {
        @include pricing-button;
        background-color: rgb(85, 223, 180);
    }

    &__box {
        display: inline-block;
        position: relative;
        width: 48%;
        vertical-align: top;
        list-style: none; 
        padding: 0;
        font-size: 16px; 
        box-sizing: border-box;

        @media (min-width: 601px) {
            width: 100%;
        }  
        

        &__plan {
                font-size: 20px;
                font-weight: 700;
                margin: 50% 0.5em -2em 15%;
                @media (min-width: 601px) {
                    margin: 5% 0 1em 0;
                    padding: 0;
                }
            }

        &__price {
                margin: 0.7em 0.3em 0 15%;
                font-size: 3rem;
                font-weight: 300;
                font-family: 'Open Sans';
                &__first {
                    color: rgb(235, 71, 110);
                }
                &__second {
                    color: rgb(7, 172, 230);
                }
                &__third {
                    color:rgb(85, 223, 180);
                }
                @media (min-width: 601px) {
                    margin: 0;
                    padding: 0;
                }
            }
        &__offer {
            margin: 0 1em 15% 15%;
            font-size: 0.7rem;
            font-weight: 700;
            @media (min-width: 601px) {
                margin: 0 0 5em 0;
                padding: 0;
            }
        }

        &--right {
                font-family: 'Open Sans';
                font-size: 14px;
                padding: 1.2em 0.5em 0.3em 1em;
                margin: 10% 0 10% 0;
                text-align: left;
                line-height: 2.5em;
                @media (min-width: 601px) {
                    text-align: center;
                    margin: 0;
                    padding: 0;
                }
            }

        &--left {
                vertical-align: middle;
                margin: 40% 0 40% 0;
                @media (min-width: 601px) {
                    margin: 0;
                    padding: 0;
                }
            }

        &__tick {
                color: rgb(85, 223, 180);
            }
        &__cross {
                color: rgb(235, 71, 110);
            }
    }
}