.stats {
    text-align: center;
    width: 100%;
    vertical-align: middle;


    &__text {
        font-size: 1.8rem;
        font-weight: 300;
        margin: 0.5em 2em 2em 2em;
    }

    &__list {
        margin:0.5em 0 3em;
        padding: 0;
        list-style: none;

        @media only screen and (min-width: 1200px) {
            margin: 0 15%;
            display: flex;
            align-content: center;
        }

        &__item {
        margin: 1.5em 0;
        line-height: 2em;
        
        @media only screen and (min-width: 1000px) {
                flex: 2 2 0;
                display: block;
        }
            &__ellipse {
                &--red {
                    transform: translateX(1.3em);
                }
                &--blue {
                    transform: translateX(2em);
                }
                &--green {
                    transform: translateX(1.8em);
                }
                z-index: -1;
            }
            &__number {
                letter-spacing: 0.3em;
                font-size: 1.2rem;
                font-weight: 900;
            }
            &__text {
                margin: 1em 6em;
                @media only screen and (min-width: 1000px) {
                    margin: 1em 36%;
                    line-height: 1.2em;
                }
                font-size: 1rem;
                font-weight: 200;
            }
            &__element{
                translate: -0.9em -0.4em;
            }
            &__eye {
                translate: -0.9em -0.8em;
            }
            &__catalog {
                translate: -0.5em -0.4em;
            }
        }
    }
}