.taglines {
    font-family: 'Raleway';
    padding: 3em 0;
    min-height: 400px;
    background-color: rgb(247, 247, 247);

    &__list {

        @media only screen and (min-width: 800px) {
            padding: 0 3em;
            display: grid;
            grid-template-columns: auto 43%;
            align-items: center;

            &__item {
            grid-column: span 2;
            }

            & > article:last-of-type {
            margin: 0 6% 0 26%;
            grid-column: 1;
            grid-row: 3; 
            }

            & > .taglines__box {
            grid-column: 2;
            grid-row: 3;
            min-height: 20rem;
            max-height: 20rem;
            width: 65%;
            margin: 8% 0% 8% 0;
            }
        }
        &__item {
            border-radius: 3px;
            border: 1px solid rgb(234, 235, 238);
            padding: 1.5em;
            margin: 0 1.5em 1.5em;
            background-color: white;

            &:nth-of-type(3) {
                margin: 0 1.5em;
                @media only screen and (min-width: 800px) {                             
                    margin: 2em 1em 0 1em;
                    padding:1em 3em 1em 2em;
                }
                
            }
            
            @media only screen and (min-width: 800px) {
                
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 1em 15%;
                align-items: center;
                gap: 20px;

                .taglines__list__item__content {
                    margin: 0;
                    padding: 1em 6em 1em 0;

                    &--first {
                    grid-column: 1;
                    grid-row: 1;
                    }
                    &--second {
                        margin: 0 0 0 20%;
                    }
                }

                .taglines__list__item__image--first {
                    grid-column: 2;
                    grid-row: 1;
                }

                &:nth-of-type(3) {
                    display: block;
                    min-height: 20rem;
                    max-height: 20rem;
                }
            }     
            
            .taglines__list__item__line {
                display: none;

                @media only screen and (min-width: 600px) {
                    display: block;
                    margin: 2em 0;
                    width: 80%;
                }

                &--first {
                    border: 2px solid rgb(235, 71, 110);
                }
                &--second {
                    border: 2px solid rgb(7, 172, 230);
                }
                &--third {
                    border: 2px solid rgb(85, 223, 180);
                    margin: 1.5em 0;
                }
            }

            &__title {
                font-size: 1.6rem;
                text-align: left;
                margin: 1em 2em 1em 0;
                font-weight: 400;
                @media only screen and (min-width: 600px) {
                    margin: 1em 3em 1em 0;
                    font-size: 2rem;
                }
            }

            &__third__title {
                margin: 1.5em 0 1em;
                font-size: 1.6rem;
                font-weight: 400;
                @media only screen and (min-width: 600px) {
                    font-size: 2rem;
                }
            }

            &__text {
                font-family: 'Open Sans';
                font-size: 0.8rem;
                font-weight: 500;
                text-align: left;
                text-wrap: wrap;
                @media only screen and (min-width: 600px) {
                    font-size: 0.8rem;
                    line-height: 20px;
                }
            }

            &__first {
                position: relative;
                &__laptop {
                    padding-top: 1rem;
                    width: 65%;
                    height: auto;
                    transform: translate(-15%, -3%);
                    @media only screen and (min-width: 600px) {
                        width: 60%;
                        height: auto;
                        transform: translate(-25%, 5%);
                    }
                }

                &__ellipse {
                    width: 25%;
                    height: auto;
                    transform: translate(220%, -65%);
                    z-index: -1;
                    @media only screen and (min-width: 600px) {
                        width: 30%;
                        height: auto;
                        transform: translate(160%, -30%);
                    }
                }
            }
            &__second {
                position: relative;
                
                &__phone {
                    padding-top: 3%;
                    width: 55%;
                    height: auto;
                    transform: translate(-20%, 10%);
                    @media only screen and (min-width: 800px) {
                        padding-top: 3%;
                        width: 70%;
                        height: auto;
                        transform: translate(14%, 6%);
                    }
                }

                &__ellipse {
                    width: 40%;
                    height: auto;
                    transform: translate(70%, -8%);
                    z-index: -1;       
                    @media only screen and (min-width: 800px) {         
                    position: absolute;
                    width: 16%;
                     height: auto;
                    transform: translate(13%, -1%);
                    z-index: 0;
                    }
                }
            }
        }
    }

    &__box {
        display: block;
        position: relative;
        background-color: rgb(85, 223, 180);
        border-radius: 0.2em;
        margin: 0 1.5em 1.5em 1.5em;
        height: 8%;

    }
    &__box__trumpet {
        display: block;
        position: relative;
        width: 85%;
        height: auto;
        transform: translate(0%, 12%);
        @media only screen and (min-width: 800px) {
            transform: translate(8%, 5em);
            width: 70%;
        }
    }
}