.taglines {
    font-family: 'Raleway';
    padding: 2.5em 1.8em;
    min-height: 400px;
    background-color: rgb(247, 247, 247);

    &__list {
        padding: 0;
        list-style: none;

        @media only screen and (min-width: 800px) {
            display: grid;
            grid-template-columns: auto 43%;
            align-items: center;

            &__item {
            grid-column: span 2;
            }

            & > li:last-of-type {
            grid-column: 1;
            grid-row: 3; 
            }

            & > .taglines__box {
            grid-column: 2;
            grid-row: 3;
            height: 15rem;
            width: 65%;
            margin: 5% 25% 5% 0;
            }
        }
        &__item {
            border-radius: 3px;
            border: 1px solid rgb(234, 235, 238);
            padding: 1em;
            margin: 2em 1em;
            background-color: white;

            &:nth-of-type(3) {
                margin: 2em 1em 0 1em;
                padding:0 1.4em 1em 1.4em;
            }
            
            @media only screen and (min-width: 800px) {
                
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 2em 15%;
                align-items: center;
                gap: 20px;

                .taglines__list__item__content {
                    margin: 0 10% 0 10%;
                    padding: 1em 0 1em 0;

                    &--first {
                    grid-column: 1;
                    grid-row: 1;
                    }
                    &--second {
                        margin: 0 10% 0 20%;
                    }
                }

                .taglines__list__item__image--first {
                    grid-column: 2;
                    grid-row: 1;
                }

                &:nth-of-type(3) {
                    display: block;
                    margin: 0 18% 0 25%;
                    height: 16rem;
                }
            }     
            
            .taglines__list__item__line {
                display: none;

                @media only screen and (min-width: 600px) {
                    display: block;
                    margin: 2em 0;
                    width: 80%;
                }

                &--first {
                    border: 1px solid rgb(235, 71, 110);
                }
                &--second {
                    border: 1px solid rgb(7, 172, 230);
                }
                &--third {
                    border: 1px solid rgb(85, 223, 180);
                    margin: 2em 0;
                }
            }

            &__title {
                font-size: 1.6rem;
                text-align: left;
                margin: 1em auto;
                font-weight: 400;
            }

            &__text {
                font-size: 0.8rem;
                font-weight: 500;
                text-align: left;
                text-wrap: wrap;
            }

            &__first {
                position: relative;
                width: 100%;
                &__laptop {
                    padding-top: 3%;
                    width: 65%;
                    height: auto;
                    transform: translate(-15%, -3%);
                    @media only screen and (min-width: 600px) {
                        width: 80%;
                        height: auto;
                        transform: translate(5%, -25%);
                    }
                }

                &__ellipse {
                    width: 25%;
                    height: auto;
                    transform: translate(220%, -65%);
                    z-index: -1;
                    @media only screen and (min-width: 600px) {
                        width: 35%;
                        height: auto;
                        transform: translate(150%, 45%);
                    }
                }
            }
            &__second {
                position: relative;
                
                &__phone {
                    padding-top: 3%;
                    width: 55%;
                    height: auto;
                    transform: translate(-20%, 10%);
                    
                }

                &__ellipse {
                    width: 40%;
                    height: auto;
                    transform: translate(70%, -15%);
                    z-index: -1;                
                    
                }
            }
            
            &__third__title {
                margin: 1em 2em 1em 0;
                font-size: 1.8rem;
                font-weight: 400;
            }
            
        }
    }

    &__box {
        display: block;
        position: relative;
        background-color: rgb(85, 223, 180);
        border-radius: 0.2em;
        margin: 0 1em 1.5em 1em;
        height: 8%;

    }
    &__box__trumpet {
        display: block;
        position: relative;
        width: 85%;
        height: auto;
        transform: translate(0%, 12%);
        @media only screen and (min-width: 800px) {
            transform: translate(6%, 3em);
        }
    }
}