.taglines {
    font-family: 'Raleway';
    padding: 1.2em 1.8em;
    min-height: 400px;
    background-color: rgb(247, 247, 247);

    &__list {
            padding: 0;
            list-style: none;
        &__item {
            border-radius: 3px;
            border: 1px solid rgb(234, 235, 238);
            margin: 2em 0.35em;
            padding: 1em 1.4em;
            background-color: white;

            &__title {
                font-size: 1.6rem;
                margin: 1em 0;
                font-weight: 400;
            }

            &__text {
                font-size: 0.8rem;
                font-weight: 500;
                text-align: left;
                text-wrap: wrap;
                &--third {
                    font-size: 0.9rem;
                    font-weight: 500;
                }
            }

            &__first {
                position: relative;

                &__laptop {
                    margin-top: 15px;
                    width: 65%;
                    height: auto;
                    transform: translate(-15%, 5%);
                }

                &__ellipse {
                    width: 25%;
                    height: auto;
                    transform: translate(220%, -65%);
                    z-index: -1;
                }
            }
            &__second {
                position: relative;

                &__phone {
                    width: 55%;
                    height: auto;
                    transform: translate(-20%, 8%);
                }

                &__ellipse {
                    width: 40%;
                    height: auto;
                    transform: translate(70%, -15%);
                    z-index: -1;                
                }
            }
            &__third__title {
                margin: 0.3em 2em 1em 0;
                font-size: 1.8rem;
                font-weight: 400;
            }
        }
    }
    &__box {
        display: block;
        position: relative;
        background-color: rgb(85, 223, 180);
        border-radius: 0.2em;
        margin: -2em 0.3em 1.5em 0.3em;
        height: 11em;
    }
    &__box__trumpet {
        display: block;
        position: relative;
        width: 90%;
        height: 110%;
        transform: translate(0%, 12%);
    }
}