@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.navbar {
  display: block;
  height: 60px;
  box-shadow: 0 5px 5px lightgray;
  text-wrap: nowrap;
}
@media only screen and (min-width: 1000px) {
  .navbar {
    display: flex;
    width: 100%;
  }
}
.navbar__container {
  text-align: right;
  width: 100%;
}
.navbar__logo {
  position: absolute;
  top: 0.9em;
  color: rgb(8, 166, 228);
  font-size: 2rem;
  padding-left: 0.5em;
  line-height: 0.5em;
}
@media only screen and (min-width: 1000px) {
  .navbar__logo {
    padding-left: 10%;
  }
}
.navbar__menu {
  cursor: pointer;
  padding: 0.1em 0.5em 0 0;
  border: none;
  background-color: white;
  font-size: 2em;
  color: rgb(8, 166, 228);
  transition: opacity 1s;
}
@media only screen and (min-width: 1000px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__list {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .navbar__list.visible {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    font-family: "Open Sans";
    position: sticky;
    font-weight: 900;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    line-height: 3em;
    border: none;
    box-shadow: 0 5px 5px lightgray;
    background-color: white;
    transform: translate(0em, -2em);
    z-index: 1;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar__list {
    font-family: "Open Sans";
    letter-spacing: 0.2em;
    font-weight: 700;
    line-height: 1.4em;
    border: none;
    margin: 0 4% 0 50%;
    display: flex;
    justify-content: space-around;
  }
}
.navbar__list__item {
  cursor: pointer;
  display: flex;
  color: lightgray;
  background-color: white;
  padding: 0 0 1em 2em;
}
.navbar__list__item:hover {
  color: black;
}
@media only screen and (min-width: 1000px) {
  .navbar__list__item {
    font-weight: 900;
    font-size: 0.7em;
    padding: 1.5em 2em;
    display: flex;
    color: lightgray;
    background-color: white;
    height: 100%;
  }
  .navbar__list__item:hover {
    color: black;
    border-bottom: 3px solid rgb(8, 166, 228);
  }
}

.landing {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 7em;
  overflow: hidden;
  font-family: "Open Sans";
  z-index: 1;
}
.landing__title {
  font: normal normal 400 2rem "Raleway";
}
@media only screen and (min-width: 750px) {
  .landing__title {
    font-size: 50px;
  }
}
.landing__text {
  margin: 1em 5em 0 5em;
  font-weight: 400;
  font-size: 15px;
}
.landing__button {
  font-family: "Open Sans";
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  padding: 1.5em 6.5em 1.5em 6.5em;
  border-radius: 1cm;
  background-color: rgb(8, 166, 228);
  box-shadow: 2px 8px 15px rgb(139, 224, 255);
}
@media only screen and (min-width: 750px) {
  .landing__button {
    margin-top: 35px;
    padding: 1.5em 10.5em 1.5em 10.5em;
  }
}
.landing__image {
  margin-top: 20px;
  max-width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media only screen and (min-width: 750px) {
  .landing__image {
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
}

.scroll__bar {
  z-index: 3;
  position: sticky;
  top: 70px;
  width: 0%;
  height: 8px;
  background: transparent;
}
.scroll__bar__progress {
  height: 10px;
  background: radial-gradient(circle, rgb(8, 166, 228) 0%, rgb(139, 224, 255) 100%);
}

.stats {
  text-align: center;
  width: 100%;
  vertical-align: middle;
}
.stats__text {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0.5em 2em 2em 2em;
}
.stats__list {
  margin: 0.5em 0 3em;
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 1000px) {
  .stats__list {
    margin: 0 15%;
    display: flex;
    align-content: center;
  }
}
.stats__list__item {
  margin: 1.5em 0;
  line-height: 2em;
}
@media only screen and (min-width: 1000px) {
  .stats__list__item {
    flex: 2 2 0;
    display: block;
  }
}
.stats__list__item__ellipse {
  z-index: -1;
}
.stats__list__item__ellipse--red {
  transform: translateX(1.3em);
}
.stats__list__item__ellipse--blue {
  transform: translateX(2em);
}
.stats__list__item__ellipse--green {
  transform: translateX(1.8em);
}
.stats__list__item__number {
  letter-spacing: 0.3em;
  font-size: 1.2rem;
  font-weight: 800;
}
.stats__list__item__text {
  margin: 1em 6em;
  font-size: 1rem;
  font-weight: 200;
}
@media only screen and (min-width: 1000px) {
  .stats__list__item__text {
    margin: 1em 32%;
    line-height: 1.2em;
  }
}
.stats__list__item__element {
  translate: -0.9em -0.4em;
}
.stats__list__item__eye {
  translate: -0.9em -0.8em;
}
.stats__list__item__catalog {
  translate: -0.5em -0.4em;
}

.taglines {
  font-family: "Raleway";
  padding: 3em 1.5em;
  min-height: 400px;
  background-color: rgb(247, 247, 247);
  width: 100%;
  justify-items: center;
}
@media only screen and (min-width: 1000px) {
  .taglines {
    padding: 3em 3em;
  }
}
@media only screen and (min-width: 1000px) {
  .taglines__list {
    display: grid;
    grid-template-columns: auto 43%;
    align-items: center;
    max-width: 65em;
  }
  .taglines__list__item {
    grid-column: span 2;
  }
  .taglines__list > article:last-of-type {
    grid-column: 1;
    grid-row: 3;
  }
  .taglines__list > .taglines__box {
    grid-column: 2;
    grid-row: 3;
    min-height: 20rem;
  }
}
.taglines__list__item {
  border-radius: 3px;
  border: 1px solid rgb(234, 235, 238);
  padding: 1.5em;
  margin: 0 0 2.5em;
  background-color: white;
}
.taglines__list__item:nth-of-type(3) {
  margin: 1em 0 0 0;
}
@media only screen and (min-width: 1000px) {
  .taglines__list__item:nth-of-type(3) {
    margin: 0 3em 0 0;
    padding: 1em 26% 1em 2em;
  }
}
.taglines__list__item__image--first {
  justify-self: center;
  max-width: 30em;
}
.taglines__list__item__image--second {
  justify-self: center;
  max-width: 30em;
}
@media only screen and (min-width: 1000px) {
  .taglines__list__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .taglines__list__item .taglines__list__item__content {
    margin: 0;
    padding: 1em 28% 1em 0;
  }
  .taglines__list__item .taglines__list__item__content--first {
    grid-column: 1;
    grid-row: 1;
  }
  .taglines__list__item .taglines__list__item__content--second {
    margin: 0 3em 0 20%;
  }
  .taglines__list__item .taglines__list__item__image--first {
    grid-column: 2;
    grid-row: 1;
  }
  .taglines__list__item:nth-of-type(3) {
    display: block;
    min-height: 20rem;
    max-height: 150%;
  }
}
.taglines__list__item .taglines__list__item__line {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .taglines__list__item .taglines__list__item__line {
    display: block;
    margin: 2em 0;
    width: 80%;
  }
}
.taglines__list__item .taglines__list__item__line--first {
  border: 2px solid rgb(235, 71, 110);
}
.taglines__list__item .taglines__list__item__line--second {
  border: 2px solid rgb(7, 172, 230);
}
.taglines__list__item .taglines__list__item__line--third {
  border: 2px solid rgb(85, 223, 180);
  margin: 1.5em 0;
}
.taglines__list__item__title {
  font-size: 1.6rem;
  text-align: left;
  margin: 1em 2em 1em 0;
  font-weight: 400;
}
@media only screen and (min-width: 600px) {
  .taglines__list__item__title {
    margin: 1em 3em 1em 0;
    font-size: 2rem;
  }
}
.taglines__list__item__third__title {
  margin: 0 0 1em;
  font-size: 1.6rem;
  font-weight: 400;
}
@media only screen and (min-width: 600px) {
  .taglines__list__item__third__title {
    margin: 1.5em 0 1em;
    font-size: 2rem;
  }
}
.taglines__list__item__text {
  font-family: "Open Sans";
  font-size: 0.8rem;
  font-weight: 500;
  text-align: left;
  text-wrap: wrap;
}
@media only screen and (min-width: 600px) {
  .taglines__list__item__text {
    line-height: 20px;
  }
}
.taglines__list__item__first {
  position: relative;
}
.taglines__list__item__first__laptop {
  padding-top: 1rem;
  width: 65%;
  height: auto;
  transform: translate(-15%, -3%);
}
@media only screen and (min-width: 1000px) {
  .taglines__list__item__first__laptop {
    width: 60%;
    height: auto;
    transform: translate(-25%, 5%);
  }
}
.taglines__list__item__first__ellipse {
  width: 25%;
  height: auto;
  transform: translate(220%, -65%);
  z-index: -1;
}
@media only screen and (min-width: 1000px) {
  .taglines__list__item__first__ellipse {
    width: 30%;
    height: auto;
    transform: translate(160%, -30%);
  }
}
.taglines__list__item__second {
  position: relative;
}
.taglines__list__item__second__phone {
  padding-top: 3%;
  width: 55%;
  height: auto;
  transform: translate(-20%, 10%);
}
@media only screen and (min-width: 1000px) {
  .taglines__list__item__second__phone {
    padding-top: 3%;
    width: 70%;
    height: auto;
    transform: translate(14%, 6%);
  }
}
.taglines__list__item__second__ellipse {
  width: 40%;
  height: auto;
  transform: translate(70%, -8%);
  z-index: -1;
}
@media only screen and (min-width: 1000px) {
  .taglines__list__item__second__ellipse {
    position: absolute;
    width: 15em;
    height: auto;
    transform: translate(13%, -1%);
    z-index: 0;
  }
}
.taglines__box {
  display: block;
  position: relative;
  background-color: rgb(85, 223, 180);
  border-radius: 0.2em;
  height: 8%;
  max-height: 22em;
}
.taglines__box__trumpet {
  display: block;
  position: relative;
  width: 85%;
  max-width: 25em;
  max-width: 36em;
  height: auto;
  transform: translate(0%, 12%);
  max-height: 22em;
}
@media only screen and (min-width: 1000px) {
  .taglines__box__trumpet {
    transform: translate(8%, 5em);
    width: 70%;
  }
}

.pricing {
  font-family: "Raleway";
  text-align: center;
}
.pricing__title {
  padding: 2em 0 0.1em 0;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Raleway";
}
.pricing__currency {
  margin: 2em 0em 1em 0em;
  display: flex;
  justify-content: space-evenly;
  margin: 2em 15% 0 15%;
}
.pricing__currency__button {
  font-family: "Open Sans";
  border: none;
  color: white;
  font-size: 1.2em;
  padding: 0.5em 1em;
  border-radius: 2em;
  background-color: rgb(8, 166, 228);
  box-shadow: 0px 5px 5px rgb(146, 209, 235);
  transition: scale 1s, background-color 0.5s;
}
.pricing__currency__button:hover {
  transform: scale(1.05);
  background-color: rgb(21, 204, 236);
}
.pricing__currency__button:active {
  transform: scale(0.95);
  background-color: rgb(54, 225, 255);
  transition: scale 0.1s, background-color 0s;
}
@media only screen and (min-width: 800px) {
  .pricing__boxes {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 80em;
  }
}
.pricing__boxes__first {
  border: 1px solid rgb(235, 71, 110);
  border-radius: 15px;
  margin: 3em 1.5em;
  transition: 0.3s;
  flex-basis: 22em;
}
@media only screen and (min-width: 800px) {
  .pricing__boxes__first:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 1px rgb(214, 105, 131);
  }
  .pricing__boxes__first:hover .pricing__boxes__button--first {
    transition: 0.3s;
    box-shadow: 0px 5px 25px 5px rgb(214, 105, 131);
  }
}
.pricing__boxes__second {
  border: 1px solid rgb(7, 172, 230);
  border-radius: 15px;
  margin: 3em 1.5em;
  transition: 0.3s;
  flex-basis: 22em;
}
@media only screen and (min-width: 800px) {
  .pricing__boxes__second:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 1px rgb(105, 194, 226);
  }
  .pricing__boxes__second:hover .pricing__boxes__button--second {
    transition: 0.3s;
    box-shadow: 0px 5px 25px 5px rgb(105, 194, 226);
  }
}
.pricing__boxes__third {
  border: 1px solid rgb(85, 223, 180);
  border-radius: 15px;
  margin: 3em 1.5em;
  transition: 0.3s;
  flex-basis: 22em;
}
@media only screen and (min-width: 800px) {
  .pricing__boxes__third:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 1px rgb(129, 212, 186);
  }
  .pricing__boxes__third:hover .pricing__boxes__button--third {
    transition: 0.3s;
    box-shadow: 0px 5px 25px 5px rgb(129, 212, 186);
  }
}
.pricing .pricing__boxes__button--first {
  cursor: pointer;
  transform: translateY(2em);
  padding: 1.5em 4em;
  border: none;
  color: white;
  border-radius: 2em;
  font-weight: 700;
  transition: scale 0.5s;
  background-color: rgb(235, 71, 110);
}
.pricing .pricing__boxes__button--first:hover {
  scale: 1.1;
}
@media only screen and (min-width: 800px) {
  .pricing .pricing__boxes__button--first {
    transform: translateY(3em);
  }
}
.pricing .pricing__boxes__button--second {
  cursor: pointer;
  transform: translateY(2em);
  padding: 1.5em 4em;
  border: none;
  color: white;
  border-radius: 2em;
  font-weight: 700;
  transition: scale 0.5s;
  background-color: rgb(7, 172, 230);
}
.pricing .pricing__boxes__button--second:hover {
  scale: 1.1;
}
.pricing .pricing__boxes__button--third {
  cursor: pointer;
  transform: translateY(2em);
  padding: 1.5em 4em;
  border: none;
  color: white;
  border-radius: 2em;
  font-weight: 700;
  transition: scale 0.5s;
  background-color: rgb(85, 223, 180);
}
.pricing .pricing__boxes__button--third:hover {
  scale: 1.1;
}
.pricing__box {
  display: inline-block;
  position: relative;
  width: 48%;
  vertical-align: top;
  list-style: none;
  font-size: 16px;
  box-sizing: border-box;
}
@media (min-width: 601px) {
  .pricing__box {
    width: 100%;
  }
}
.pricing__box__plan {
  font-size: 20px;
  font-weight: 700;
  margin: 3em auto 0 auto;
}
@media (min-width: 601px) {
  .pricing__box__plan {
    margin: 15% 0 auto 0;
    padding: 0;
  }
}
.pricing__box__price {
  font-size: 3rem;
  font-weight: 300;
  font-family: "Open Sans";
}
.pricing__box__price__first {
  color: rgb(235, 71, 110);
}
.pricing__box__price__second {
  color: rgb(7, 172, 230);
}
.pricing__box__price__third {
  color: rgb(85, 223, 180);
}
@media (min-width: 601px) {
  .pricing__box__price {
    padding: 0;
  }
}
.pricing__box__offer {
  font-size: 0.7rem;
  font-weight: 700;
}
.pricing__box--right {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  padding: 2em 0 0 1em;
  text-align: left;
  line-height: 2.5em;
}
@media (min-width: 601px) {
  .pricing__box--right {
    text-align: center;
    margin: 5% 0 5% 0;
    padding: 0;
  }
  .pricing__box--right--first {
    margin: 10% 0 0;
  }
}
.pricing__box--left {
  vertical-align: middle;
}
@media (min-width: 601px) {
  .pricing__box--left {
    margin: 0;
    padding: 0;
  }
}
.pricing__box__tick {
  color: rgb(85, 223, 180);
  margin-right: 5px;
}
.pricing__box__cross {
  color: rgb(235, 71, 110);
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  background-color: #f1f1f1;
  padding: 15px 0px 20px 0px;
  box-shadow: 0px 0px 5px 5px lightgray;
}
.footer__text {
  position: absolute;
  left: 0;
  font-size: 1.6em;
  padding-left: 5%;
  margin-bottom: -15px;
  line-height: 15px;
}
.footer__text__name {
  margin: 0.4em 0 0 0;
  color: rgb(8, 166, 228);
}
.footer__text__copyright {
  margin: 0.6em 0 0 0;
  font-size: 0.45em;
  color: gray;
}
.footer__images {
  margin: 1em 5% 0 0;
  text-align: right;
}
.footer__images--facebook {
  padding: 0 0.7em;
}

.contact {
  box-sizing: border-box;
  padding-top: 3em;
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  .contact {
    display: grid;
    grid-template-columns: 30em 30em;
    gap: 1em;
    justify-content: center;
  }
}
.contact__title {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 0 0.1em 0.4em;
}
@media only screen and (min-width: 800px) {
  .contact__title {
    font-size: 3rem;
  }
}
.contact__subtitle {
  font-family: "Open Sans";
  font-size: 0.95rem;
  font-weight: 500;
  margin: 0 0 0.3em 1em;
}
@media only screen and (min-width: 600px) {
  .contact__subtitle {
    margin: 1em 1em;
  }
}
@media only screen and (min-width: 800px) {
  .contact__input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 9% 0 0;
  }
}
.contact__input__text {
  font-size: 0.8em;
  margin: 0em 0em 0em 2em;
  transition: all 1s;
}
.contact__info {
  display: inline-block;
  vertical-align: baseline;
  margin: 1em 1em 0.5em 1em;
}
@media only screen and (min-width: 800px) {
  .contact__info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}
.contact__info__container {
  margin: 0 0 0.1em 1em;
}
.contact__info__mail {
  padding: inherit;
}
.contact__info__phone {
  padding: inherit;
}
.contact__info__text {
  display: inline-block;
  color: #A5A5A5;
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 500;
  margin: 1em 2em 0 0.5em;
  transform: translateY(-0.3em);
}
.contact__info__input {
  margin: 1em 0.5em 2em 2em;
  border: none;
  border-bottom: 2px lightgray solid;
  color: rgb(8, 166, 228);
  line-height: 1.5em;
  width: 90%;
  transition: border 1s ease-out;
}
.contact__info__input:focus {
  outline: none;
}
.contact__info__input.error {
  border-bottom: 2px solid red;
}
.contact__checkbox[type=checkbox] {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 1em 0 0 2em;
  background-color: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 0.3em;
  outline: none;
  cursor: pointer;
  transition: border 0.5s ease;
}
.contact__checkbox[type=checkbox].error {
  border: 15px solid red;
}
.contact__checkbox[type=checkbox]:checked {
  border-color: gray;
}
.contact__checkbox[type=checkbox]:checked::after {
  content: "✓";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(8, 166, 228);
  font-size: 1.5em;
}
.contact__checkbox__text {
  color: #707070;
  font-family: "Open Sans";
  font-size: 12px;
  display: inline-block;
  margin: -3em 2em 3em 6em;
}
.contact__container {
  text-align: right;
}
.contact__button {
  font-family: "Open Sans";
  text-align: right;
  border: none;
  color: white;
  font-weight: bold;
  padding: 1.5em 6.5em;
  margin: 0 8% 3.5em 0;
  border-radius: 1cm;
  background-color: rgb(8, 166, 228);
  box-shadow: 2px 8px 15px rgb(106, 215, 255);
  transition: scale 1s, background-color 0.5s;
}
.contact__button:hover {
  cursor: pointer;
  transform: scale(1.01);
  background-color: rgb(21, 204, 236);
}
.contact__button:active {
  transform: scale(0.98);
  background-color: rgb(54, 225, 255);
  transition: scale 0.1s, background-color 0s;
}

.popup.visible {
  display: flex;
}
@media only screen and (max-width: 800px) {
  .popup.visible {
    display: none;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  background-color: rgba(182, 182, 182, 0.5);
  z-index: 2;
}
.popup__background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.popup__content {
  z-index: 2;
  width: 50%;
  height: 15em;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid rgb(234, 235, 238);
  background-color: rgb(255, 255, 255);
}
.popup__content__text {
  font-size: 1.8em;
  margin: 0 0 1em 0;
}
.popup__content__input {
  margin: 1.5em 0em;
  border: none;
  border-bottom: 2px lightgray solid;
  color: rgb(8, 166, 228);
  line-height: 1.5em;
  width: 45%;
  text-align: center;
}
.popup__content__input__text {
  font-size: 1em;
}
.popup__content__input:focus {
  outline: none;
}
.popup__content__input.error {
  border-bottom: 2px solid red;
}
.popup__content__exit {
  cursor: pointer;
  position: absolute;
  font-size: 1.5em;
  right: 1.5em;
  top: 1em;
  font-weight: 500;
  background-color: transparent;
  border: none;
  transition: 0.5s;
}
.popup__content__exit:hover {
  color: rgb(177, 2, 2);
}
.popup__content__send {
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  padding: 1em 3em;
  border-radius: 1cm;
  background-color: rgb(8, 166, 228);
  box-shadow: 2px 8px 15px rgb(139, 224, 255);
}

.return {
  display: none;
}
.return.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
@media only screen and (min-width: 800px) {
  .return {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    position: fixed;
    bottom: 8%;
    right: 3%;
    height: 5%;
    width: 5%;
    z-index: 2;
  }
  .return__button {
    border: none;
    border-radius: 3.5em;
    padding: 0.1em 0.2em 0.2em 0.2em;
    color: white;
    background-color: rgb(8, 166, 228);
    font-size: 2.5em;
    animation: moving 1s infinite ease-in-out paused;
  }
  .return__button:hover {
    animation: moving 1s infinite ease-in-out;
    animation-direction: alternate;
  }
  @keyframes moving {
    0% {
      transform: translateY(0em);
    }
    50% {
      transform: translateY(-0.3em);
    }
    100% {
      transform: translateY(0em);
    }
  }
}

.slides__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 247, 247);
  padding: 2em 0 1em 0;
}

.slides {
  max-width: 1000px;
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}
.slides__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  z-index: 0;
}
.slides__image.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.slides__image.previous {
  transform: translateX(-100%);
  opacity: 0;
}
.slides__image.next {
  transform: translateX(100%);
  opacity: 0;
}
.slides__prev, .slides__next {
  cursor: pointer;
  border: 2px solid rgb(8, 166, 228);
  position: absolute;
  top: 45%;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 3.2em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: rgba(8, 166, 228, 0.75);
}
.slides__prev {
  left: 1em;
  padding: 0.3em 0.6em 0.4em 0.6em;
}
.slides__next {
  right: 1em;
  padding: 0.4em 0.6em;
}

.dot {
  display: block;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 1em 0.3em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  height: 100%;
  font-family: "Raleway";
}

.prevent-select {
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}/*# sourceMappingURL=style.css.map */